{% extends 'base.html' %}
{% load static %}
{% block header_static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}">

	<!-- vendor css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% url 'js-catalog' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Cap nhat lich dat phong so {{ booking.id }}</h3>
                </div>
                <div class="card-body">
                    <form class="user" method="POST">
                        {% csrf_token %}
                            {{ form.media }}
                            {% if messages %}
                                {% for message in messages %}
                                <div class="container-fluid p-0">
                                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            {{ form.non_field_errors }}
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                    {{ form.arrival_date_time.errors }}
                                    <label for="{{ form.arrival_date_time.id_for_label }}">Ngay den</label>
                                    {{ form.arrival_date_time }}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                    {{ form.departure_date_time.errors }}
                                    <label for="{{ form.departure_date_time.id_for_label }}">Ngay du kien di</label>
                                    {{ form.departure_date_time }}
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                    {{ form.no_of_adults.errors }}
                                    <label for="{{ form.no_of_adults.id_for_label }}">So nguoi lon</label>
                                    {{ form.no_of_adults }}
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                    {{ form.no_of_children.errors }}
                                    <label for="{{ form.no_of_children.id_for_label }}">So tre nho</label>
                                    {{ form.no_of_children }}
                                </div>
                            </div>
                            <div class="form-group ">
                                {{ form.description.errors }}
                                <label for="{{ form.description.id_for_label }}">Yeu cau cua khach hang</label>
                                {{ form.description }}
                            </div>
                            <br>
                        <button type="button" class="btn btn-primary" title="btn btn-primary" data-toggle="modal" data-target="#UpdateModal">Cap nhat</button>
                        <div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Xac nhan cap nhat</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Cap nhat thong tin dat phong {{ booking.id }}</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary" type="button" data-dismiss="modal">Huy</button>
                                        <input type="submit" value="Cap nhat" class="btn btn-primary btn-user">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
