<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>
    {% block header_static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Montana</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'blog/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    {% endblock %}
	<!-- vendor css -->
    <script src="{% url 'js-catalog' %}"></script>
    <script src="{% static 'admin/js/core.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}">
    <style>
        .modal-backdrop {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1040;
          background-color: #000000;
        }
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    {% block navigation %}
                                    <ul id="navigation">
                                        <li><a href="{% url 'blog_home' %}" class="active">home</a></li>
                                        <li><a href="{% url 'blog_room' %}">rooms</a></li>
                                        <li><a href="{% url 'blog_about' %}">About</a></li>
                                        <li><a href="{% url 'blog_article_list' %}">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                {% for cats in categories %}
                                                <li><a href="{% url 'blog_category_detail' cats.slug %}">{{ cats.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li><a href="{% url 'blog_contact' %}">Contact</a></li>
                                    </ul>
                                    {% endblock %}
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="{% url 'blog_home' %}">
                                    <img src="{% static 'blog/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'dashboard' %}" target="_blank">
                                                <i class="fa fa-tachometer"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <a class="" href="#" data-toggle="modal" data-target="#form">Dat lich</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    {% block content %}

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>Montana Resort</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>Life is Beautiful</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>Montana Resort</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center">
                                <h3>Life is Beautiful</h3>
                                <p>Unlock to enjoy the view of Martine</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>About Us</span>
                            <h3>A Luxuries Hotel <br>
                                with Nature</h3>
                        </div>
                        <p>Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
                            dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
                            sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.</p>
                        <a href="#" class="line-button">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb d-flex">
                        <div class="img_1">
                            <img src="{% static 'blog/img/about/about_1.png' %}" alt="">
                        </div>
                        <div class="img_2">
                            <img src="{% static 'blog/img/about/about_2.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- offers_area_start -->
    <div class="offers_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <span>Our Offers</span>
                        <h3>Ongoing Offers</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="{% static 'blog/img/offers/1.png' %}" alt="">
                        </div>
                        <h3>Up to 35% savings on Club <br>
                            rooms and Suites</h3>
                        <ul>
                            <li>Luxaries condition</li>
                            <li>3 Adults & 2 Children size</li>
                            <li>Sea view side</li>
                        </ul>
                        <a href="#" class="book_now" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="{% static 'blog/img/offers/2.png' %}" alt="">
                        </div>
                        <h3>Up to 35% savings on Club <br>
                            rooms and Suites</h3>
                        <ul>
                            <li>Luxaries condition</li>
                            <li>3 Adults & 2 Children size</li>
                            <li>Sea view side</li>
                        </ul>
                        <a href="#" class="book_now" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_offers">
                        <div class="about_thumb">
                            <img src="{% static 'blog/img/offers/3.png' %}" alt="">
                        </div>
                        <h3>Up to 35% savings on Club <br>
                            rooms and Suites</h3>
                        <ul>
                            <li>Luxaries condition</li>
                            <li>3 Adults & 2 Children size</li>
                            <li>Sea view side</li>
                        </ul>
                        <a href="#" class="book_now" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->

    <!-- video_area_start -->
    <div class="video_area video_bg overlay">
        <div class="video_area_inner text-center">
            <span>Montana Sea View</span>
            <h3>Relax and Enjoy your <br>
                Vacation </h3>
                    <a href="https://www.youtube.com/watch?v=uKxyLmbOc0Q" class="video_btn popup-video">
                <i class="fa fa-play"></i>
            </a>
        </div>
    </div>
    <!-- video_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb2 d-flex">
                        <div class="img_1">
                            <img src="{% static 'blog/img/about/1.png' %}" alt="">
                        </div>
                        <div class="img_2">
                            <img src="{% static 'blog/img/about/2.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Delicious Food</span>
                            <h3>We Serve Fresh and <br>
                                Delicious Food</h3>
                        </div>
                        <p>Suscipit libero pretium nullam potenti. Interdum, blandit phasellus consectetuer dolor ornare
                            dapibus enim ut tincidunt rhoncus tellus sollicitudin pede nam maecenas, dolor sem. Neque
                            sollicitudin enim. Dapibus lorem feugiat facilisi faucibus et. Rhoncus.</p>
                        <a href="#" class="line-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- features_room_startt -->
    <div class="features_room">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <span>Featured Rooms</span>
                        <h3>Choose a Better Room</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="rooms_here">
            <div class="single_rooms">
                <div class="room_thumb">
                    <img src="{% static 'blog/img/rooms/1.png' %}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>From $250/night</span>
                            <h3>Superior Room</h3>
                        </div>
                        <a href="#" class="line-button" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
            </div>
            <div class="single_rooms">
                <div class="room_thumb">
                    <img src="{% static 'blog/img/rooms/2.png' %}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>From $250/night</span>
                            <h3>Deluxe Room</h3>
                        </div>
                        <a href="#" class="line-button" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
            </div>
            <div class="single_rooms">
                <div class="room_thumb">
                    <img src="{% static 'blog/img/rooms/3.png' %}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>From $250/night</span>
                            <h3>Signature Room</h3>
                        </div>
                        <a href="#" class="line-button" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
            </div>
            <div class="single_rooms">
                <div class="room_thumb">
                    <img src="{% static 'blog/img/rooms/4.png' %}" alt="">
                    <div class="room_heading d-flex justify-content-between align-items-center">
                        <div class="room_heading_inner">
                            <span>From $250/night</span>
                            <h3>Couple Room</h3>
                        </div>
                        <a href="#" class="line-button" data-toggle="modal" data-target="#form">book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- features_room_end -->

    <!-- forQuery_start -->
    <div class="forQuery">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-md-12">
                    <div class="Query_border">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="Query_text">
                                    <p>For Reservation 0r Query?</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="phone_num">
                                    <a href="#" class="mobile_no">+10 576 377 4789</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- forQuery_end-->

    <!-- instragram_area_start -->
    <div class="instragram_area">
        <div class="single_instagram">
            <img src="{% static 'blog/img/instragram/1.png' %}" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="{% static 'blog/img/instragram/2.png' %}" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="{% static 'blog/img/instragram/3.png' %}" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="{% static 'blog/img/instragram/4.png' %}" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="{% static 'blog/img/instragram/5.png' %}" alt="">
            <div class="ovrelay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- instragram_area_end -->

{% endblock %}
    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text"> 200, Green road, Mongla, <br>
                                New Yor City USA</p>
                            <a href="#" class="line-button">Get Direction</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Reservation
                            </h3>
                            <p class="footer_text">+10 367 267 2678 <br>
                                reservation@montana.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="{% url 'blog_home' %}">Home</a></li>
                                <li><a href="{% url 'blog_room' %}">Rooms</a></li>
                                <li><a href="{% url 'blog_about' %}">About</a></li>
                                <li><a href="{% url 'blog_article_list' %}">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- link that opens popup -->


    <!-- form itself end-->

        <div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="exampleModalLabel">Dat lich giu cho</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id='reservationform' class="user" method="POST" >
                        <div class="modal-body">
                            {% csrf_token %}
                                {{ form.media }}
                                {% if messages %}
                                    {% for message in messages %}
                                    <div class="container-fluid p-0">
                                        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                                            {{ message }}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                {{ form.non_field_errors }}
                                {% for hidden_field in form.hidden_fields %}
                                    {{ hidden_field.errors }}
                                    {{ hidden_field }}
                                {% endfor %}
                                <div class=" form-group row mb-2">
                                    <div class="col-sm-8 ">
                                        {{ form.guest_name.errors }}
                                        <label for="{{ form.guest_name.id_for_label }}">Ten khach hang</label>
                                        {{ form.guest_name }}
                                    </div>
                                </div>

                                <div class="form-group row mb-2">
                                    <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                        {{ form.guest_phone.errors }}
                                        <label for="{{ form.guest_phone.id_for_label }}">So dien thoai</label>
                                        {{ form.guest_phone }}
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                        {{ form.guest_email.errors }}
                                        <label for="{{ form.guest_email.id_for_label }}">Email</label>
                                        {{ form.guest_email }}
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                        {{ form.no_of_adults.errors }}
                                        <label for="{{ form.no_of_adults.id_for_label }}">So nguoi lon</label>
                                        {{ form.no_of_adults }}
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                        {{ form.no_of_children.errors }}
                                        <label for="{{ form.no_of_children.id_for_label }}">So tre nho</label>
                                        {{ form.no_of_children }}
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                        {{ form.expected_arrival_date_time.errors }}
                                        <label for="{{ form.expected_arrival_date_time.id_for_label }}">Ngay den du kien</label>
                                        {{ form.expected_arrival_date_time }}
                                    </div>
                                    <div class="col-sm-6 mb-3 mb-sm-0 form-group mb-2">
                                        {{ form.expected_departure_date_time.errors }}
                                        <label for="{{ form.expected_departure_date_time.id_for_label }}">Ngay di du kien</label>
                                        {{ form.expected_departure_date_time }}
                                    </div>
                                </div>
                                <br>
                            <button type="submit" class="btn btn-primary" title="" data-toggle="tooltip">Dat lich</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    <!-- form itself end -->
    <!-- JS here -->
    <script src="{% static 'blog/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'blog/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'blog/js/ajax-form.js' %}"></script>
    <script src="{% static 'blog/js/waypoints.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'blog/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'blog/js/scrollIt.js' %}"></script>
    <script src="{% static 'blog/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'blog/js/wow.min.js' %}"></script>
    <script src="{% static 'blog/js/nice-select.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'blog/js/plugins.js' %}"></script>
    <script src="{% static 'blog/js/gijgo.min.js' %}"></script>

    <!--contact js-->
    <script src="{% static 'blog/js/contact.js' %}"></script>
    <script src="{% static 'blog/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.form.js' %}"></script>
    <script src="{% static 'blog/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'blog/js/mail-script.js' %}"></script>

    <script src="{% static 'blog/js/main.js' %}"></script>


    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>

    {% if messages or form.non_field_errors %}
        <script type="text/JavaScript">
        $(window).on('load', function() {
            $('#form').modal('show');
        });
        </script>
    {% endif %}

</body>

</html>