{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Cac loai phong</title>
{% endblock %}

{% block header_static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">

	<!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/dataTables.uikit.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Danh sach cac phong trong khach san</h3>
                    <p class="mb-4">Tong so phong: {{ room_list.count }}</p>
                    {% if perms.room.add_room %}
                    <span class="d-block m-t-5"> <a class="collapse-item" href="{% url 'room_create' %}">Them phong</a></span>
                    {% endif %}
                </div>
                <div class="card-body table-responsive">
                    <table id="example" class="table table-hover table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>So phong</th>
                                <th>Loai phong</th>
                                <th>Trang thai</th>
                                <th>Ngay tra phong</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for room in room_list %}
                        <tr>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.room_type }}</td>
                            <td>{% if room.maintenance %}<span class="badge badge-pill badge-dark">Dang bao tri</span>
                                {% elif room.maintenance == False and room.availability == True %}<span class="badge badge-pill badge-success">San sang su dung</span>
                                {% else %}<span class="badge badge-pill badge-primary">Da co khach</span>
                                {% endif %}
                                </td>
                            <td style="white-space: normal !important;">
                                {% for checkin in current_checkin %}
                                    {% if room in checkin.rooms.all %}
                                        {{ checkin.departure_date_time|date:"d-m-Y G:i" }}, Giao dich: <a href="{% url 'checkin_detail' checkin.id %}">{{ checkin }}</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{% if perms.room.view_room %}<a href="{{ room.get_absolute_url }}" class="badge badge-info">Chi tiet</a>{% endif %}
                                {% if perms.room.change_room %}<a class="badge badge-primary" href="{% url 'room_update' room.room_number %}">Cap nhat</a>{% endif %}
                                {% if perms.room.delete_room %} <a class="badge badge-danger" href="{% url 'room_delete' room.room_number %}">Xoa</a>{% endif %}
                                </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript" language="javascript" src="{% static 'media/js/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'media/js/dataTables.uikit.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/syntax/shCore.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/demo.js' %}"></script>
    <script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').DataTable();
} );
    </script>

{% endblock %}