{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Cac loai phong</title>
{% endblock %}

{% block header_static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">

	<!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/dataTables.uikit.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Danh sach cac loai phong</h3>
                    <p class="mb-4">Tong so loai phong: {{ roomtype_list.count }}</p>
                    {% if perms.room.add_roomtype %}
                    <span class="d-block m-t-5"> <a class="collapse-item" href="{% url 'roomtype_create' %}">Them loai phong</a></span>
                    {% endif %}
                </div>
                <div class="card-body table-responsive">
                    <table id="example" class="table table-hover table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Loai phong</th>
                                <th>Co so vat chat</th>
                                <th>Mo ta</th>
                                <th>Gia phong</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for roomtype in roomtype_list %}
                        <tr>
                            <td>{{ roomtype.id }}</td>
                            <td>{{ roomtype.type }}</td>
                            <td style="white-space: normal !important;">{{ roomtype.facility.all |join:', ' }}</td>
                            <td style="white-space: normal !important;">{{ roomtype.description }}</td>
                            <td>{{ roomtype.price }}</td>
                            <td>{% if perms.room.change_roomtype %}<a class="badge badge-primary" href="{% url 'roomtype_update' roomtype.id %}">Cap nhat</a>{% endif %}
                                {% if perms.room.delete_roomtype %}| <a class="badge badge-danger" href="{% url 'roomtype_delete' roomtype.id %}">Xoa</a>{% endif %}
                                </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}

    <script type="text/javascript" language="javascript" src="{% static 'media/js/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'media/js/dataTables.uikit.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/syntax/shCore.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/demo.js' %}"></script>
    <script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').DataTable();
} );
    </script>

{% endblock %}