{% extends "base.html" %}
{% load static %}

{% block header_static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">

	<!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/dataTables.uikit.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Thong tin bo phan {{ staffrole }}</h3>
                    <p class="mb-4">Tong so nhan vien: {{ staffrole.staff_set.count }}</p>
                </div>
                <div class="card-body table-responsive">
                    <table id="example" class="table table-hover table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ma nhan vien</th>
                                <th>Ho va ten</th>
                                <th>Bo phan</th>
                                <th>So dien thoai</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for staff in staffrole.staff_set.all %}
                            <tr>
                                <td>{{ staff.staff_id }}</td>
                                <td>{{ staff }}</td>
                                <td>{{ staff.staff_role }}</td>
                                <td>{{ staff.staff_phone }}</td>
                                <td>{% if perms.staff.view_staff %}<a href="{% url 'staff_detail' staff.staff_id %}" class="badge badge-info">Chi tiet</a>{% endif %} {% if perms.staff.change_staff %}<a class="badge badge-primary" href="{% url 'staff_update' staff.staff_id %}">Cap nhat</a>{% endif %} {% if perms.staff.delete_staff %} <a class="badge badge-danger" href="{% url 'staff_delete' staff.staff_id %}">Xoa</a>{% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript" language="javascript" src="{% static 'media/js/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'media/js/dataTables.uikit.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/syntax/shCore.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/demo.js' %}"></script>
    <script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').DataTable();
} );
    </script>

{% endblock %}