{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Cac bo phan</title>
{% endblock %}

{% block header_static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">

	<!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/dataTables.uikit.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Danh sach cac bo phan</h3>
                    <p class="mb-4">Tong so bo phan: {{ staffrole_list.count }}</p>
                    {% if perms.staff.add_staffrole %}
                    <span class="d-block m-t-5"> <a class="collapse-item" href="{% url 'staffrole_create' %}">Them bo phan</a></span>
                    {% endif %}
                </div>
                <div class="card-body table-responsive">
                    <table id="example" class="table table-hover table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Bo phan</th>
                                <th>So luong nhan vien</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for staffrole in staffrole_list %}
                            <tr>
                                <td>{{ staffrole.id }}</td>
                                <td>{{ staffrole.role }}</td>
                                <td>{{ staffrole.staff_set.all.count }}</td>
                                <td>{% if perms.staff.view_staffrole %}<a href="{% url 'staffrole_detail' staffrole.id %}" class="badge badge-info">Chi tiet</a>{% endif %} {% if perms.staff.change_staffrole %}<a class="badge badge-primary" href="{% url 'staffrole_update' staffrole.id %}">Cap nhat</a>{% endif %} {% if perms.staff.delete_staffrole %} <a class="badge badge-danger" href="{% url 'staffrole_delete' staffrole.id %}">Xoa</a>{% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript" language="javascript" src="{% static 'media/js/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'media/js/dataTables.uikit.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/syntax/shCore.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/demo.js' %}"></script>
    <script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').DataTable();
} );
    </script>

{% endblock %}