{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Danh sach khach hang</title>
{% endblock %}

{% block header_static %}
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="{% static 'fonts/fontawesome/css/fontawesome-all.min.css' %}">
	<!-- animation css -->
	<link rel="stylesheet" href="{% static 'plugins/animation/css/animate.min.css' %}">

	<!-- vendor css -->
    <link rel="stylesheet" type="text/css" href="{% static 'media/css/dataTables.uikit.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card">
                <div class="card-header">
                    <h3>Danh sach khach hang</h3>
                    {% if perms.customer.add_customer %}
                    <span class="d-block m-t-5"> <a class="collapse-item" href="{% url 'customer_create' %}">Them khach hang</a></span>
                    {% endif %}
                </div>
                <div class="card-body table-responsive">
                    <table id="example" class="table table-hover table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Ma khach hang</th>
                                <th>Ho va ten</th>
                                <th>Ngay sinh</th>
                                <th>So dien thoai</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for customer in customer_list %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>{{ customer.customer_name }}</td>
                            <td>{{ customer.customer_dob|date:"d-m-Y" }}</td>
                            <td>{{ customer.customer_phone }}</td>
                            <td>{{ customer.customer_email }}</td>
                            <td>
                                {% if perms.customer.view_customer %}<a href="{{ customer.get_absolute_url }}" class="badge badge-info">Chi tiet</a>{% endif %}
                                {% if perms.customer.change_customer %}<a class="badge badge-primary" href="{% url 'customer_update' customer.id %}">Cap nhat</a>{% endif %}
                                {% if perms.customer.delete_customer %} <a class="badge badge-danger" href="{% url 'customer_delete' customer.id %}">Xoa</a>{% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/javascript" language="javascript" src="{% static 'media/js/jquery.dataTables.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'media/js/dataTables.uikit.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/syntax/shCore.js' %}"></script>
	<script type="text/javascript" language="javascript" src="{% static 'resources/demo.js' %}"></script>
    <script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	$('#example').DataTable();
} );
    </script>

{% endblock %}